################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v16
/variables/.vs/variables/v16
/functions/.vs/functions/v16
/HeaderFiles/.vs/HeaderFiles/v16
/HowToDebug/.vs/HowToDebug/v16
/conditionals/.vs/conditionals/v16
/loopy/.vs/referencesandpointers/v16
/pointers/.vs/pointers/v16
/references/.vs/references/v16
/classes/.vs/classes/v16
/classVstruct/.vs/classVstruct/v16
/class2/.vs/class2/v16
/enum/.vs/enum/v16
/Constructors/.vs/Constructors/v16
/destructor/.vs/destructor/v16
/Inheritance/.vs/Inheritance/v16
/virtualFunctions/.vs/virtualFunctions/v16
/Interface/.vs/Interface/v16
/Visability/.vs/Visability/v16
/Arrays/.vs/Arrays/v16
/howcppStringswork/.vs/howcppStringswork/v16
