################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v16
/variables/.vs/variables/v16
/functions/.vs/functions/v16
/HeaderFiles/.vs/HeaderFiles/v16
